 @-webkit-keyframes shake {
     0%, to {
         -webkit-transform: translateX(-100%);
         transform: translateX(-100%) 
    }
     10%, 30%, 50%, 70%, 90% {
         -webkit-transform: translateX(-60%);
         transform: translateX(-60%) 
    }
     20%, 40%, 60%, 80% {
         -webkit-transform: translateX(40%);
         transform: translateX(40%) 
    }
}
 @keyframes shake {
     0%, to {
         -webkit-transform: translateX(-100%);
         transform: translateX(-100%) 
    }
     10%, 30%, 50%, 70%, 90% {
         -webkit-transform: translateX(-60%);
         transform: translateX(-60%) 
    }
     20%, 40%, 60%, 80% {
         -webkit-transform: translateX(20%);
         transform: translateX(20%) 
    }
}
 @-webkit-keyframes formshow {
     0% {
         -webkit-transform: translate(-50%, -70%);
         transform: translate(-50%, -70%) 
    }
     70% {
         -webkit-transform: translate(-50%, -40%);
         transform: translate(-50%, -40%) 
    }
     90% {
         -webkit-transform: translate(-50%, -10%);
         transform: translate(-50%, -10%) 
    }
     to {
         -webkit-transform: translate(-50%, -5%);
         transform: translate(-50%, -5%) 
    }
}
 @keyframes formshow {
     0% {
         -webkit-transform: translate(-50%, -70%);
         transform: translate(-50%, -70%) 
    }
     70% {
         -webkit-transform: translate(-50%, -40%);
         transform: translate(-50%, -40%) 
    }
     90% {
         -webkit-transform: translate(-50%, -10%);
         transform: translate(-50%, -10%) 
    }
     to {
         -webkit-transform: translate(-50%, -5%);
         transform: translate(-50%, -5%) 
    }
}
html {
     -webkit-box-sizing: border-box;
     box-sizing: border-box;
}
 *, *::before, *::after {
     -webkit-box-sizing: inherit;
     box-sizing: inherit;
}
 body {
     color: #000;
     background-color: #fff;
     margin: 0;
     padding: 0;
     font-family: "Cuprum", "Arial", sans-serif;
     font-weight: 400;
     font-style: normal;
}
 a {
     text-decoration: none;
}
 input[type=text] {
     width: 95px;
     padding: 8px 2px 10px 8px;
     font-weight: 400;
     font-style: normal;
     font-size: 17px;
     line-height: 18px;
     font-family: "PT Sans", "Arial", sans-serif;
     text-align: center;
     background-color: #f7f3ec;
     border: none;
     border-radius: 3px;
}
 .visually-hidden:not(:focus):not(:active), input[type="checkbox"].visually-hidden, input[type="radio"].visually-hidden {
     position: absolute;
     width: 1px;
     height: 1px;
     margin: -1px;
     border: 0;
     padding: 0;
     white-space: nowrap;
     -webkit-clip-path: inset(100%);
     clip-path: inset(100%);
     clip: rect(0 0 0 0);
     overflow: hidden;
     font-size: 1px;
}
 .container {
     width: 940px;
     margin: 0 auto;
     position: relative;
}
 .block-dark-blue {
     background-color: #293449;
     min-height: 42px;
}
 .block-gray {
     background-color: #f1f5f7;
     display: -webkit-box;
     display: -ms-flexbox;
     display: flex;
}
 .block-white {
     background-color: #fff;
     min-height: 1300px;
}
 .block-light-blue {
     background-color: #f4f8fa;
     min-height: 522px;
}
 .main-header {
     display: block;
     min-height: 320px;
     margin-bottom: 59px;
}
 .header-logo, .footer-logo {
     width: 220px;
     height: 47px;
     background-color: #ee3643;
     -webkit-box-shadow: inset 0 -.drill-catalog5px 0 rgba(0, 0, 0, 0.24);
     box-shadow: inset 0 -5px 0 rgba(0, 0, 0, 0.24);
     display: inline-block;
     margin-bottom: -5px;
}
 .logo {
     width: 220px;
     min-height: 47px;
     padding: 9px 55px 12px 55px;
}
 .header-logo:hover, .footer-logo:hover {
     background-color: #ca2c37;
}
 .header-logo:focus, .footer-logo:focus {
     background-color: #ba2732;
}
 .header-logo:active, .footer-logo:active {
     background-color: #ba2732;
}
 .header-top {
     display: -webkit-box;
     display: -ms-flexbox;
     display: flex;
     min-height: 42px;
}
 .header-search {
     position: relative;
}
 .search {
     width: 270px;
     height: 42px;
     padding-left: 50px;
     vertical-align: middle;
     background-color: #293449;
     border: none;
     color: #ffffff;
}
 .search:hover {
     background-color: #212a3a;
}
 .search:focus {
     background-color: #ffffff;
     color: #000000;
}
 .icon-search {
     position: absolute;
     top: 12px;
     left: 17px;
     opacity: 0.5;
}
 input[type="search"]:hover ~ .icon-search {
     opacity: 1;
}
 input[type="search"]:focus ~ .icon-search {
     z-index: 10;
     opacity: 1;
}
 input[type="search"]:focus ~ .icon-search > path {
     fill: #ee3643;
}
 input[type="search"]::-webkit-input-placeholder {
     font-size: 17px;
     line-height: 18px;
     color: #ffffff;
}
 input[type="search"]:-ms-input-placeholder {
     font-size: 17px;
     line-height: 18px;
     color: #ffffff;
}
 input[type="search"]::-ms-input-placeholder {
     font-size: 17px;
     line-height: 18px;
     color: #ffffff;
}
 input[type="search"]::placeholder {
     font-size: 17px;
     line-height: 18px;
     color: #ffffff;
}
 .module {
     font-size: 17px;
     font-weight: 400;
     font-family: "Cuprum", "Arial", sans-serif;
     text-decoration: none;
     text-align: center;
     color: #fff;
     display: block;
}
 .bookmarks {
     position: relative;
     overflow: hidden;
     padding: 12px 30px 12px 43px;
}
 .bookmarks::before {
     content: "";
     position: absolute;
     background-image: url(../img/icon-bookmark.svg);
     width: 14px;
     height: 16px;
     left: 17px;
     opacity: 0.3;
}
 .bookmarks:hover:before, .basket:hover:before {
     opacity: 1;
}
 .bookmarks:hover:active, .basket:hover:active {
     opacity: 0.2;
}
 .basket {
     position: relative;
     overflow: hidden;
     padding: 12px 30px 12px 45px;
}
 .basket-full {
     background: #ee3643;
}
 .basket::before {
     content: "";
     position: absolute;
     background-image: url(../img/icon-cart.svg);
     width: 15px;
     height: 15px;
     left: 12px;
     opacity: 0.3;
}
 .bookmarks:hover, .basket:hover {
     background-color: #212a3a;
}
 .bookmarks:active, .basket:active {
     background-color: #161d29;
     color: rgba(255, 255, 255, 0.6);
}
 .order {
     float: left;
     padding: 12px 21px 12px 20px;
     margin: 0;
     font-size: 17px;
     line-height: 18px;
     font-weight: 400;
     font-style: normal;
     font-family: "Cuprum", "Arial", sans-serif;
     text-decoration: none;
     color: #fff;
     background-color: #63a63e;
}
 .order:hover {
     background-color: #5fbb2d;
}
 .order:focus {
     background-color: #518534;
}
 .header-center {
     padding: 37px 0 40px 12px;
}
 .center-text {
     color: #ee3643;
     font-style: italic;
     font-size: 16px;
     line-height: 23px;
     font-weight: 400;
     float: left;
     font-family: "Cuprum", "Arial", sans-serif;
     margin: 0 8px 0 35px;
     width: 210px;
     padding: 10px 5px 40px 5px;
}
 .header-tel {
     position: relative;
     width: 190px;
     font-size: 21px;
     line-height: 18px;
     margin-left: 55px;
     padding: 9px 0 4px 0;
}
 .header-tel a {
     display: block;
     background-image: url(../img/icon-phone.svg);
     width: 270px;
     min-height: 29px;
     padding: 10px 0 8px 72px;
     color: #ee3643;
     font-size: 21px;
     font-weight: normal;
     font-style: normal;
     font-stretch: normal;
     line-height: 1;
     line-height: 21px;
     border: 3px solid #fff;
     background-position: 15px center;
     background-repeat: no-repeat;
     margin: 0;
}
 .contact-info {
     float: left;
     width: 340px;
     min-height: 69px;
}
 .contact-info p {
     color: #32425c;
     font-size: 14px;
     font-weight: 400;
     line-height: 24px;
     padding: 0 15px 0 65px;
     margin: 0;
}
 .link, .user {
     display: block;
     color: #000;
     font-size: 21px;
     font-weight: 400;
     line-height: 21px;
     background-color: #ffff;
}
 .link:hover {
     color: #ee3643;
}
 .link:active {
     color: rgba(0, 0, 0, 0.3);
}
 .login {
     margin-right: 10px;
     padding: 12px 26px 12px 46px;
}
 .login::before {
     content: "";
     position: absolute;
     left: 13px;
     width: 20px;
     height: 20px;
     background-image: url(../img/icon-login.svg);
     background-position: left;
     background-repeat: no-repeat;
     opacity: 0.3;
}
 .login:hover:before {
     opacity: 1;
}
 .user::before {
     content: "";
     position: absolute;
     left: 13px;
     width: 20px;
     height: 20px;
     background-image: url(../img/icon-user.png);
     background-position: left;
     background-repeat: no-repeat;
     opacity: 0.3;
}
 .user:hover:before, .user:hover:after {
     opacity: 1;
}
 .user:active:before, .user:active:after {
     opacity: 0.3;
}
 .user {
     position: relative;
     padding: 12px 65px 14px 46px;
}
 .user:active {
     color: #b2b2b2;
}
 .user::after {
     content: "";
     position: absolute;
     left: 268px;
     width: 20px;
     height: 20px;
     background-image: url(../img/icon-logout.png);
     background-position: left;
     background-repeat: no-repeat;
     opacity: 0.3;
}
 .user-navigation {
     width: 280px;
     position: relative;
     text-align: left;
     padding-bottom: 35px;
     padding-left: 17px;
     margin: 0;
     margin-top: 5px;
     float: right;
     display: -webkit-box;
     display: -ms-flexbox;
     display: flex;
     -ms-flex-wrap: wrap;
     flex-wrap: wrap;
     margin-left: 47px;
     padding: 0;
     list-style: none;
     font-size: 16px;
     line-height: 18px;
     font-family: "Cuprum", "Arial", sans-serif;
}
 .user-navigation li {
     display: inline-block;
}
 .user-navigation a {
     color: #32425c;
 }
 .registration {
     padding: 12px 25px 14px 25px;
}
 .header-cabinet {
     display: -webkit-box;
     display: -ms-flexbox;
     display: flex;
     list-style: none;
     margin: 0px;
     padding: 0px;
     float: right;
     position: relative;
     padding-top: 8px;
}
 .my-orders, .personal-account {
     font-family: "Cuprum", "Arial", sans-serif;
     font-weight: 400;
     font-style: normal;
     font-size: 16px;
     background-color: #f2f6f8;
     line-height: 18px;
     cursor: pointer;
     text-decoration: underline;
}
 .personal-account {
     padding-left: 9px;
}
 .separator {
     display: inline-block;
     width: 4px;
     height: 4px;
     background: #32425c;
     border-radius: 50px;
     margin: 6px 5px 0 13px;
}
 .header-lower {
     float: left;
     width: 100%;
     min-height: 60px;
     font-size: 0;
     line-height: 0;
     text-align: center;
     margin-bottom: 60px;
}
 .header-nav {
     color: #fff;
     background-color: #32425c;
     -webkit-box-shadow: inset 0px -5px 0 0 #293449;
     box-shadow: inset 0px -5px 0 0 #293449;
     list-style: none;
     padding: 0;
     margin: 0;
}
 .header-nav li {
     display: inline-block;
     vertical-align: top;
     min-height: 57px;
     -ms-flex-negative: 1;
     flex-shrink: 1;
}
 .header-nav a {
     display: block;
     -webkit-box-sizing: border-box;
     box-sizing: border-box;
     min-height: 52px;
     padding: 30px 31px 30px 31px;
     text-decoration: none;
     text-align: center;
     font-size: 17px;
     color: #fff;
}
 .header-nav a:active {
     background-color: #1d2739;
}
 .header-nav a:hover {
     background-color: #1d2739;
}
 .products {
     margin: 40px 0 33px;
     width: 940px;
     background-color: #fff;
     position: relative;
}
 .catalog:first-child {
     margin-left: 0;
}
 .catalog {
     position: relative;
     display: inline-block;
     width: 300px;
     height: 123px;
     vertical-align: middle;
     width: 300px;
     min-height: 123px;
     line-height: 0;
     font-size: 0;
     padding: 20px;
     margin: 0 0 20px 20px;
}
 .catalog h3 {
     color: #fff;
     font-size: 24px;
     line-height: 30px;
     font-weight: 700;
     background: 0 0;
     display: block;
     margin: 0;
}
 .catalog-img {
     position: absolute;
     width: 123px;
     height: 123px;
     right: 0;
     top: 0;
}
 .catalog-img img {
     position: absolute;
     left: 45%;
     top: 51%;
     -webkit-transform: translate(-50%, -50%);
     -ms-transform: translate(-50%, -50%);
     transform: translate(-50%, -50%);
}
 .material {
     background-color: #ffbf47;
}
 .tool {
     background-color: #3bbce3;
     margin-left: 16px;
}
 .machinery {
     background-color: #dc91d8;
     margin-left: 16px;
}
 .discount {
     background-color: #8ed78f;
}
 .delivery {
     background-color: #ffc047;
}
 .catalog-btn {
     color: #fff;
     font-family: "Cuprum", "Arial", sans-serif;
     font-style: normal;
     font-size: 14px;
     font-weight: 400;
     line-height: 18px;
     text-decoration: none;
     text-transform: uppercase;
     text-align: center;
     width: 135px;
     padding: 10px 0;
     margin: 13px 0 0 5px;
     display: inline-block;
     border-radius: 3px;
     background: rgba(0, 0, 0, .1);
}
 .catalog-btn:active {
     background-color: rgba(0, 0, 0, 0.3);
}
 .catalog-btn:hover, .catalog-btn:focus {
     background-color: rgba(0, 0, 0, 0.2);
}
 .supply .new:before {
     content: '';
     position: absolute;
     width: 60px;
     height: 60px;
     background: url(../img/new-flag.png) no-repeat 0 0;
     top: 0;
     right: 0;
     z-index: 10;
}
 .slider-catalog {
     position: relative;
     display: inline-block;
     background-color: #b2b2b2;
     color: #fff;
     width: 620px;
     float: left;
     min-height: 266px;
     margin: 0 auto;
}
 .slider {
     margin-left: 24px;
     padding-top: 26px;
     font-size: 18px;
     line-height: 24px;
     font-weight: 400;
     font-style: normal;
     font-family: "PT Sans", "Arial", sans-serif;
     color: #fff;
     background: 0 0;
}
 .slider-title {
     font-style: normal;
     font-family: "Cuprum", "Arial", sans-serif;
     text-transform: uppercase;
     color: #fff;
     margin: 0;
     margin-bottom: 4px;
     background: 0 0;
     font-size: 36px;
     line-height: 30px;
     font-weight: 700;
}
 .slider-text {
     font-style: normal;
     font-family: "Cuprum", "Arial", sans-serif;
     margin: 0;
}
 .arrow-left, .arrow-right {
     position: absolute;
     top: 110px;
     left: 20px;
     background: url(../img/icon-left.svg) no-repeat 5px 5px;
     font-size: 0;
     padding: 5px;
     cursor: pointer;
     width: 32px;
     height: 50px;
}
 .arrow-right {
     left: 573px;
     background: url(../img/icon-right.svg) no-repeat 5px 5px;
}
 #btn-1:checked ~ .slider-perforator.slider, #btn-2:checked ~ .slider-drill.slider {
     opacity: 1;
}
 #btn-1:checked ~ .switches label[for="btn-1"], #btn-2:checked ~ .switches label[for="btn-2"] {
     background: #ee3643;
}
 #btn-1:checked ~ .arrow-left, #btn-2:checked ~ .arrow-right {
     opacity: .3;
}
 #btn-1:checked ~ .slider-catalog {
     -webkit-transform: translate(0);
     -ms-transform: translate(0);
     transform: translate(0);
}
 #btn-2:checked ~ .slider-catalog {
     -webkit-transform: translate(-620px);
     -ms-transform: translate(-620px);
     transform: translate(-620px);
}
 .btn-red {
     display: block;
     color: #fff;
     background-color: #ee3643;
     font-family: "Cuprum", "Arial", sans-serif;
     font-style: normal;
     font-weight: 400;
     text-transform: uppercase;
     text-decoration: none;
     text-align: center;
     padding: 10px 0;
     border-radius: 3px;
     font-size: 14px;
     line-height: 18px;
     height: 38px;
}
 .slider .btn-red {
     display: block;
     width: 195px;
     margin-top: 122px;
}
 .btn-red:hover {
     background-color: #ca2c37;
}
 .btn-red:focus {
     background-color: #ba2732;
}
 .slider-perforator {
     background: url(../img/slider-1.jpg) no-repeat;
     width: 620px;
     height: 266px;
     display: none;
}
 .slider-drill {
     background: url(../img/slider-2.jpg) no-repeat;
     width: 620px;
     height: 266px;
}
 .slider-catalog input[type=radio] {
     position: absolute;
     opacity: 0;
}
 .switches {
     position: absolute;
     width: 100%;
     left: 0;
     bottom: 30px;
     z-index: 5;
     text-align: center;
}
 .switches label {
     display: inline-block;
     width: 10px;
     height: 10px;
     margin: 0 5px;
     vertical-align: top;
     background: #fff;
     border: 2px solid #fff;
     border-radius: 50%;
     cursor: pointer;
}
 #btn-1:checked~.switches label[for=btn-1], #btn-2:checked~.switches label[for=btn-2] {
     background: #ee3643;
}
 .best-product {
     background-color: #fff;
     margin-bottom: 67px;
}
 .popular-goods, .popular-manufacturers {
     background-color: #f9f5f0;
     margin-bottom: 20px;
     width: 940px;
     display: -webkit-box;
     display: -ms-flexbox;
     display: flex;
     padding: 20px 24px 20px 20px;
     -webkit-box-pack:justify;
         -ms-flex-pack:justify;
             justify-content:space-between;
     -webkit-box-align: center;
         -ms-flex-align: center;
             align-items: center;
}
 .text-popular {
     font-family: "Cuprum", "Arial", sans-serif;
     font-weight: 400;
     font-style: normal;
     font-size: 30px;
     line-height: 30px;
     text-transform: uppercase;
     margin: 0;
     padding: 10px 8px 9px 8px;
}
 .btn-popular {
     margin: 0;
     width: 253px;
     margin-left: auto;
}
 .drill-catalog {
     position: relative;
     display: inline-block;
     margin-bottom: 21px;
     margin-left: 20px;
     width: 220px;
     min-height: 318px;
     text-align: center;
     vertical-align: middle;
     border-width: 1px;
     border-style: solid;
     border-color: rgb(229, 229, 229);
     -webkit-border-image: initial;
     -o-border-image: initial;
     border-image: initial;
}
 .drill-img {
     width:218px;
     height:170;
}
 .drill:hover .actions {
     display: block;
}
 .sorting-catalog .drill-catalog:nth-child(3n+1) {
     margin-left: 0;
}
 .catalog-drill .drill-catalog:nth-child(4n+1) {
     margin-left: 0;
}
 .catalog-drill {
     font-size: 0px;
     line-height: 0;
}
 .new:before {
     content: '';
     position: absolute;
     top: 0;
     right: 0;
     z-index: 10;
     width: 60px;
     height: 60px;
     background: url(../img/new-flag.png) no-repeat 0 0;
}
 .actions {
     position: absolute;
     z-index: 150;
     top: 0;
     left: 0;
     display: none;
     width: 218px;
     height: 176px;
     padding: 44px 0;
     background: #fff;
}
 .drill-catalog, .banner {
     background-color: #fff;
     border: 1px solid #e5e5e5;
}
 .drill-catalog:hover, .banner:hover {
     -webkit-box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.2);
     box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.2);
}
 .drill-catalog:focus, .banner:focus {
     -webkit-box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.2);
     box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.2);
     opacity: 1;
}
 .buy {
     display: block;
     top: 45px;
     left: 40px;
     width: 135px;
     background-color: #63a63e;
     color: #fff;
     -webkit-box-shadow: inset 0 -3px 0 #367315;
     box-shadow: inset 0 -3px 0 #367315;
     border-radius: 3px;
     text-transform: uppercase;
     text-decoration: none;
     font-family: "Cuprum", "Arial", sans-serif;
     font-size: 14px;
     font-weight: normal;
     line-height: 18px;
     margin: 0px auto 7px;
     padding: 9px 0px;
}
 .buy:before {
     content: "";
     position: absolute;
     left: 54px;
     width: 20px;
     height: 20px;
     background: url(../img/cart-icon.png) no-repeat;
     opacity: 0.5;
}
 .buy:hover::before, .buy:focus::before {
     opacity: 1;
}
 .buy:hover {
     background-color: #5fbb2d;
     -webkit-box-shadow: inset 0 -3px 0 0 #367315;
     box-shadow: inset 0 -3px 0 0 #367315;
}
 .buy:focus {
     background-color: #518534;
}
 .bookmark {
     display: block;
     font-family: 'Cuprum', 'Arial', sans-serif;
     top: 90px;
     left: 40px;
     padding: 8px 30px;
     width: 135px;
     color: #32425c;
     border: 3px solid #63a63e;
     border-radius: 3px;
     background-color: #fff;
     text-transform: uppercase;
     font-size: 14px;
     font-weight: normal;
     line-height: 18px;
     margin: 0px auto 7px;
     padding: 9px 0px;
}
 .bookmark:hover {
     background-color: #fff;
     border: 3px solid #000;
}
 .bookmark:focus {
     background-color: #fff;
     border: 3px solid #c1c6ce;
}
 .drill-title {
     font-weight: 700;
     font-style: normal;
     font-family: "PT Sans", "Arial", sans-serif;
     display: block;
     padding: 0 25px;
     margin: 10px 0;
     text-align: center;
     color: #000;
     font-size: 18px;
     line-height: 20px;
     text-decoration: none;
}
 .price-old {
     min-height: 20px;
     margin-bottom: 8px;
     display: block;
     text-decoration: line-through;
     color: #999;
     font-size: 17px;
     line-height: 18px;
     text-transform: uppercase;
     font-weight: 700;
     font-style: normal;
     font-family: "PT Sans", "Arial", sans-serif;
}
 .btn-arrow {
     display: inline-block;
     text-decoration: none;
     text-align: center;
     font-style: normal;
     font-family: "PT Sans", "Arial", sans-serif;
     font-weight: 700;
     font-size: 17px;
     position: relative;
     width: 140px;
     height: 37px;
     padding: 9px 30px;
     margin-left: 6px;
     color: #fff;
     background: #ee3643;
     -ms-flex-item-align: start;
     align-self: flex-start;
     line-height: 18px;
     text-transform: uppercase;
}
 .btn-arrow:after {
     position: absolute;
     content: '';
     border: 18.5px solid white;
     border-left-color: #ee3643;
     top: 0;
     right: -20px;
     width: 0;
     height: 0;
}
 .drill-catalog h3+a.btn-arrow {
     margin-top: 28px;
}
 .manufacturers a {
     display: inline-block;
     width: 220px;
     height: 145px;
     margin: 0 16px 20px 0;
     vertical-align: middle;
     border: 1px solid #e5e5e5;
}
 .manufacturers a:active {
     opacity: 0.3;
     border: none;
}
 .manufacturers a img {
     position: relative;
     left: 50%;
     top: 50%;
     -webkit-transform: translateX(-50%) translateY(-50%);
     -ms-transform: translateX(-50%) translateY(-50%);
     transform: translateX(-50%) translateY(-50%);
}
 .manufacturers a:nth-child(4n) {
     margin-right: 0;
}
 .services {
     background-color: #f4f8fa;
     width: 940px;
     height: auto;
     margin-bottom: 63px;
}
 .title-services {
     font-family: "Cuprum", "Arial", sans-serif;
     font-size: 30px;
     text-transform: uppercase;
     color: #000;
     padding-top: 65px;
     font-weight: 400;
     line-height: 0.8;
     margin: 0 0 29px;
}
 .text-services {
     padding-bottom: 64px;
     font-size: 13px;
     font-family: "PT Sans", "Arial", sans-serif;
     font-weight: 400;
     font-style: normal;
     line-height: 24px;
     margin: 0;
     width: 400px;
}
 .blok-services {
     position: relative;
     display: -webkit-box;
     display: -ms-flexbox;
     display: flex;
     float: left;
     width: 940px;
     height: 277px;
     padding: 0;
     margin: 0;
     padding-top: 7px;
     background-color: #f4f8fa;
}
 .service-label {
     display: inline-block;
     width: 240px;
     position: relative;
     vertical-align: top;
     list-style: none;
     padding: 0;
     margin: 0;
}
 .service-label label {
     display: block;
     text-decoration: none;
     -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
     color: #fff;
     font-family: "Cuprum", "Arial", sans-serif;
     font-size: 21px;
     font-weight: 700;
     line-height: 30px;
     background-color: #32425c;
     box-shadow: inset 0px -2px 0 0 #293449;
     -webkit-box-shadow: inset 0 1px #405069, inset 0 -1px #293449;
     padding: 12px 20px 16px 22px;
     width: 240px;
     min-height: 61px;
     cursor: pointer;
}
 .service-label label:hover {
     background-color: #293449;
}
 .service-label label:active {
     background-color: #fff;
     color: #32425c;
     -webkit-box-shadow: none;
     box-shadow: none;
}
 .service-title {
     color: #32425c;
     font-family: "Cuprum", "Arial", sans-serif;
     font-size: 36px;
     font-weight: 400;
     text-transform: uppercase;
     padding: 2px 0 12px 81px;
     margin: 0;
     line-height: 0.667;
     margin: 0 0 20px;
}
 .service-text {
     padding-left: 80px;
     font-size: 13px;
     font-family: "PT Sans", "Arial", sans-serif;
     font-weight: 400;
     font-style: normal;
     line-height: 24px;
}
 .text-devivery {
     width: 355px;
}
 .text-guarantee {
     width: 455px;
}
 .text-loan {
     width: 455px;
}
 .service-devivery {
     background: url(../img/car.png) no-repeat;
     background-position: 100% 80%;
     padding-bottom: 120px;
     display: none;
}
 .service-guarantee {
     background: url(../img/guarantee.png) no-repeat;
     background-position: 103% 25%;
     padding-bottom: 80px;
     display: none;
}
 .service-loan {
     background: url(../img/loan.png) no-repeat;
     background-position: 111% 28%;
     padding-bottom: 80px;
     display: none;
}
 .service-loan .btn-red {
     width: 195px;
     display: block;
     margin: 27px 0 0 78px;
     padding: 10px 44px;
}
 .blok-services input[type=radio] {
     position: absolute;
     opacity: 0;
}
 #btn-delivery:checked~.service-description .service-devivery, #btn-guarantee:checked~.service-description .service-guarantee, #btn-loan:checked~.service-description .service-loan {
     display: block;
}
 #btn-delivery:checked~.service-description label[for=btn-delivery], #btn-guarantee:checked~.service-description label[for=btn-guarantee], #btn-loan:checked~.service-description label[for=btn-loan] {
     background-color: #fff;
     color: #32425c;
     -webkit-box-shadow: none;
     box-shadow: none;
}
 .service-description {
     width: 940px;
     height: auto;
}
 .service-description::after {
     content: "";
     position: absolute;
     z-index: 70;
     top: -45px;
     left: 230px;
     width: 15px;
     height: 284px;
     background: url(../img/shadow.png) no-repeat;
     background-position: 0 0;
}
 .company-info {
     display: -webkit-box;
     display: -ms-flexbox;
     display: flex;
     -webkit-box-orient: horizontal;
     -webkit-box-direction: normal;
     -ms-flex-direction: row;
     flex-direction: row;
     -ms-flex-wrap: nowrap;
     flex-wrap: nowrap;
     width: 940px;
     margin: 0 auto 85px auto;
     position: relative;
}
 .text-info {
     float: left;
     width: 528px;
}
 .text-info p {
     font-size: 13px;
     font-family: "PT Sans", "Arial", sans-serif;
     color: #222;
     font-weight: 400;
     font-style: normal;
     line-height: 24px;
     margin: 0;
     margin-bottom: 2px;
}
 .text-info p:nth-child(2) {
     padding-bottom: 20px;
}
 .btn-info {
     width: 220px;
     padding: 12px 40px 10px;
}
 .transport-info, .transport-info li {
     position: relative;
}
 .transport-info {
     margin: 11px 0 25px 0px;
     font-family: "Cuprum", "Arial", sans-serif;
     font-size: 18px;
     line-height: 40px;
     list-style: none;
     padding-left: 36px;
}
 .page-title {
     text-transform: uppercase;
     font-family: "Cuprum", "Arial", sans-serif;
     font-size: 30px;
     font-weight: 400;
     font-style: normal;
     line-height: 24px;
     margin: 16px 0 29px 0;
}
 .contacts-text {
     font-size: 13px;
     font-family: "PT Sans", "Arial", sans-serif;
     margin-bottom: 32px;
     font-weight: 400;
     font-style: normal;
     line-height: 24px;
     color: #222;
     width: 200px;
}
 .line::before {
     content: '';
     position: absolute;
     left: -36px;
     top: 19px;
     display: block;
     width: 25px;
     height: 2px;
     background: #fb565a;
}
 .map {
     display: block;
     width: 300px;
     height: 158px;
     margin-bottom: 39px;
}
 .contacts-info .btn-red {
     padding: 13px 58px 8px 64px;
}
 .contacts-info {
     float: right;
     margin-left: 112px;
}
 .main-footer {
     display: -webkit-box;
     display: -ms-flexbox;
     display: flex;
     -webkit-box-orient: vertical;
     -webkit-box-direction: normal;
     -ms-flex-direction: column;
     flex-direction: column;
     -webkit-box-align: stretch;
     -ms-flex-align: stretch;
     align-items: stretch;
}
 .footer-top {
     background-color: #32425c;
     min-height: 193px;
}
 .footer-wrap {
     display: -webkit-box;
     display: -ms-flexbox;
     display: flex;
     margin: 0 auto;
     width: 940px;
}
 .footer-contacts {
     margin-top: 0px;
     min-width: 322px;
     margin-right: 0px;
     min-height: 193px;
}
 .footer-contacts p {
     font-size: 18px;
     line-height: 24px;
     line-height: 1.33;
     padding-top: 10px;
     color: #fff;
     margin: 8px 0 3px 4px;
}
 .footer-contacts a {
     color: #fff;
     text-decoration: none;
     font-size: 18px;
}
 .logo-box p {
     padding-top: 4px;
}
 .logo-box a {
     color: #fff;
}
 .footer-navigation {
     -ms-flex-preferred-size: 677px;
     flex-basis: 677px;
}
 .footer-logo {
     margin-bottom: 10px;
     height: 69px;
}
 .footer-logo .logo {
     width: 220px;
     height: 67px;
     padding: 21px 41px;
}
 .footer-navigation ul {
     list-style: none;
     display: -webkit-box;
     display: -ms-flexbox;
     display: flex;
     -webkit-box-pack: justify;
     -ms-flex-pack: justify;
     justify-content: space-between;
     padding-left: 0;
}
 .footer-nav {
     margin-left: 70px;
     margin-top: 40px;
}
 .footer-catalog {
     margin-left: 90px;
     margin-top: 32px;
}
 .footer-navigation a {
     color: #f1f5f7;
     font-size: 18px;
     font-weight: 400;
     line-height: 24px;
}
 .communication a {
     color: #ffd180;
     ;
     font-size: 18px;
     font-weight: 400;
     line-height: 24px;
}
 .communication p {
     color: #fff;
}
 .footer-navigation a:hover, .footer-catalog a:hover, .communication a:hover {
     text-decoration: underline;
}
 .footer-navigation a:active, .footer-catalog a:active {
     opacity: 0.5;
}
 .footer-catalog a {
     color: #ffd180;
     font-size: 18px;
     font-weight: 400;
     line-height: 24px;
}
 .footer-bottom {
     min-height: 107px;
     background: #293449;
}
 .footer-lower {
     display: -webkit-box;
     display: -ms-flexbox;
     display: flex;
     width: 940px;
     margin: 0 auto;
}
 .copyright {
     color: #fff;
     font-size: 16px;
     font-weight: 400;
     line-height: 18px;
     margin: 20px 40px 0 0;
     width: 227px;
}
 .footer-social {
     list-style: none;
     display: -webkit-box;
     display: -ms-flexbox;
     display: flex;
     -ms-flex-wrap: wrap;
     flex-wrap: wrap;
     -webkit-box-pack: justify;
     -ms-flex-pack: justify;
     justify-content: space-between;
     text-align: center;
     width: 133px;
     margin: 0 auto;
     padding: 0;
     padding-top: 35px;
}
 .footer-social li {
     position: relative;
     display: inline-block;
     width: 42px;
     height: 42px;
     line-height: 42px;
     text-decoration: none;
     background: #212a3a;
     border-radius: 50px;
}
 .footer-social a {
     background-position: center;
     background-repeat: no-repeat;
     width: 42px;
     height: 42px;
}
 .social-icon {
     display: -webkit-box;
     display: -ms-flexbox;
     display: flex;
     -webkit-box-align: center;
     -ms-flex-align: center;
     align-items: center;
     -webkit-box-pack: center;
     -ms-flex-pack: center;
     justify-content: center;
     height: 48px;
     width: 48px;
     padding: 0;
     margin: 0;
     position: relative;
}
 .footer-social li:active, .footer-social li:hover {
     background-color: #ee3643;
     -webkit-transition: 1s all;
     -o-transition: 1s all;
     transition: 1s all;
}
 .communication a:active {
     color: #ee3643;
}
 .communication {
     display: -webkit-box;
     display: -ms-flexbox;
     display: flex;
     float: left;
     font-family: "Cuprum", "Arial", sans-serif;
     margin-top: 36px;
}
 .communication p {
     margin: 0;
}
 .creator {
     margin-left: 35px;
}
 .window-questionnaire {
     padding: 0 10px;
     margin: 43px 50px 0 70px;
}
 .window-questionnaire span{
     display: inline-block;
     margin: 0 0 9px;
}
 .button-row {
     display: -webkit-box;
     display: -ms-flexbox;
     display: flex;
     padding: 37px 0;
     background: #f1f1f1;
     text-align: center;
     -webkit-box-pack: center;
     -ms-flex-pack: center;
     justify-content: center;
}
 .btn-order {
     width: 220px;
     padding: 11px 50px 8px;
     margin: 0;
     border-radius: 5px;
     outline: none;
     border: none;
     margin-right: 20px;
}
 .btn-send {
     width: 460px;
     border-radius: 5px;
     outline: none;
     border: none;
}
 .window-message, .window-basket {
     position: fixed;
     top: 5%;
     left: 50%;
     z-index: 200;
     -webkit-transform: translateX(-50%);
     -ms-transform: translateX(-50%);
     transform: translateX(-50%);
     display: block;
     -webkit-animation: bounce .4s;
     animation: bounce .4s;
     width: 620px;
     border-top: 7px solid #ee3643;
     background-color: #fff;
     -webkit-box-shadow: 0 30px 50px rgba(0, 0, 0, .7);
     box-shadow: 0 30px 50px rgba(0, 0, 0, .7);
     display: none;
}
 .message-form label {
     width: 220px;
     color: #000;
     line-height: 18px;
     font-weight: 400;
     font-style: normal;
     font-size: 18px;
     font-family: "Cuprum", "Arial", sans-serif;
     float: left;
     margin: 0 20px 17px 0;
}
 .message-form input[type=text] {
     font-size: 13px;
     font-family: "PT Sans", "Arial", sans-serif;
     padding-left: 14px;
     text-align: left;
     color: #999;
     background-color: #fff;
     border: 2px solid #999;
     border-radius: 5px;
     width: 220px;
}
 .letter-text {
     display: inline-block;
     margin: 0 0 9px;
     line-height: 18px;
     font-weight: 400;
     font-style: normal;
     font-size: 18px;
     font-family: "Cuprum", "Arial", sans-serif;
}
 .message-form textarea {
     width: 460px;
     font-family: "PT Sans", "Arial", sans-serif;
     font-size: 13px;
     color: #a9a9a9;
     border: 3px solid #d7dcde;
     margin-bottom: 34px;
}
 .window-map-show {
     position: fixed;
     top: 5%;
     left: 50%;
     z-index: 200;
     -webkit-box-shadow: 0 30px 50px rgba(0, 0, 0, .7);
     box-shadow: 0 30px 50px rgba(0, 0, 0, .7);
     -webkit-transform: translateX(-50%);
     -ms-transform: translateX(-50%);
     transform: translateX(-50%);
     display: none;
     -webkit-animation: bounce .4s;
     animation: bounce .4s;
}
 .window-map {
     display: none;
     width: 940px;
     height: 448px;
}
 .window-close-map {
     padding: 0;
     margin: 0;
     border: none;
     position: absolute;
     top: 15px;
     right: 15px;
}
 .breadcrumbs {
     list-style: none;
     padding: 0px;
     position: relative;
     padding-right: 585px;
     -webkit-box-pack: justify;
     -ms-flex-pack: justify;
     justify-content: space-between;
     min-height: 19px;
     min-width: 350px;
     -webkit-box-align: center;
     -ms-flex-align: center;
     align-items: center;
     display: -webkit-box;
     display: -ms-flexbox;
     display: flex;
     margin: 20px 0;
}
 .breadcrumbs a, .breadcrumbs li:last-child {
     color: #000;
     font-family: "PT Sans", sans-serif;
     font-size: 13px;
     font-weight: 400;
     line-height: 18px;
     text-transform: uppercase;
}
 .breadcrumbs li {
     position: relative;
}
 .breadcrumbs a:after {
     content: '';
     position: absolute;
     top: 5px;
     right: -23px;
     width: 7px;
     height: 7px;
     border: 1px solid #c1c6ce;
     border-left: 0px;
     border-bottom: 0px;
     -webkit-transform: rotate(45deg);
     -ms-transform: rotate(45deg);
     transform: rotate(45deg);
     z-index: 1;
}
 .navigation-list {
     background-color: #fff;
}
 .navigation-list a {
     font-style: normal;
     font-size: 13px;
     line-height: 18px;
     font-family: "PT Sans", "Arial", sans-serif;
     text-decoration: none;
     text-transform: uppercase;
     color: #000;
}
 .catalog-name {
     margin-bottom: 20px;
     padding: 30px 0 29px;
     background: #f2f6f8;
}
 .catalog-title {
     font-weight: 400;
     font-style: normal;
     font-size: 30px;
     line-height: 30px;
     font-family: "Cuprum", "Arial", sans-serif;
     text-transform: uppercase;
     color: #32425c;
     margin: 0;
     padding-left: 28px;
}
 .filter-search {
     width: 220px;
     float: left;
     font-size: 0;
     line-height: 0;
     min-height: 1202px;
     margin-right: 20px;
}
 .name-filter {
     font-style: normal;
     font-family: "PT Sans", "Arial", sans-serif;
     text-transform: uppercase;
     background: #f7f3ec;
     border-radius: 3px;
     font-weight: 400;
     font-size: 13px;
     line-height: 18px;
     padding: 10px 0 10px 19px;
     background-color: 
}
 .price h3 {
     font-style: normal;
     font-family: "PT Sans", "Arial", sans-serif;
     text-transform: uppercase;
     margin-top: 11px;
     margin-bottom: 13px;
     font-weight: 700;
     font-size: 17px;
     line-height: 30px;
}
 .controls-range {
     background: #f7f3ec;
     border-radius: 3px;
     position: relative;
     height: 80px;
     margin: 15px 0 10px;
     padding: 0 20px 0 30px;
     overflow: hidden;
}
 .scale {
     height: 2px;
     margin-top: 39px;
     background: #d7dcde;
}
 .bar {
     width: 85%;
     height: 2px;
     background: #00ca74;
}
 .toggle {
     position: absolute;
     background: #ababab;
     border: 8px solid #fff;
     top: 30px;
     left: 30px;
     width: 20px;
     height: 20px;
     border-radius: 50%;
     cursor: pointer;
}
 .min-toggle {
     left: 21px;
}
 .max-toggle {
     left: 161px;
}
 .price-controls {
     margin-bottom: 26px;
     color: #000;
}
 .price-min+span {
     margin: 0 9px;
     font-size: 17px;
     line-height: 30px;
}
 .filter-line {
     margin-bottom: 16px;
     border: 1px solid #e5e5e5;
     border-bottom-width: 0;
}
 .filter-parameter {
     background-color: #fff;
     font-weight: 400;
     font-style: normal;
     font-family: "PT Sans", "Arial", sans-serif;
     margin: 0;
     padding: 0;
     border: none;
}
 .filter-parameter:nth-child(1), .filter-parameter:nth-child(2) {
     border-bottom: solid 1px #e5e5e5;
}
 .filter-parameter:nth-child(2) {
     height: 242px;
}
 .filter-parameter:nth-child(3) {
     margin-top: -13px;
}
 .filter-parameter:nth-child(2) {
     margin-top: 22px;
     margin-bottom: 35px;
}
 .filter-parameter legend {
     font-family: "PT Sans", "Arial", sans-serif;
     font-weight: 700;
     font-style: normal;
     font-size: 17px;
     line-height: 30px;
     text-transform: uppercase;
}
 .manufacturer-filter, .power-filter {
     list-style: none;
     font-family: "PT Sans", "Arial", sans-serif;
     text-transform: uppercase;
}
 .manufacturer-filter {
     margin-top: 10px;
     margin-bottom: 9px;
}
 .manufacturer-filter li {
     padding: 0;
     margin: 0;
     display: -webkit-box;
     display: -ms-flexbox;
     display: flex;
     position: relative;
     -webkit-box-pack: start;
     -ms-flex-pack: start;
     justify-content: flex-start;
     width: 220px;
     height: 40px;
     text-align: left;
     font-size: 17px;
}
 .manufacturer-filter label {
     padding: 0;
     margin: 0;
     padding-left: 35px;
     padding-top: 15px;
     width: 220px;
}
 .manufacturer-filter label::before {
     position: absolute;
     content: "";
     top: 4px;
     left: 0;
     width: 27px;
     height: 23px;
     margin: 0px 10px 0 0;
     vertical-align: middle;
     background-color: red;
     cursor: pointer;
}
 input[type="checkbox"] {
     display: none;
}
 input[type="checkbox"]+label::before {
     background: url(../img/checkbox-off.png) left top no-repeat;
}
 input[type="checkbox"]:hover+label::before {
     background: url(../img/checkbox-off-hover.png) left top no-repeat;
}
 input[type="checkbox"]:checked+label::before {
     background: url(../img/checkbox-on.png) no-repeat;
}
 input[type="checkbox"]:checked:hover+label::before {
     background: url(../img/checkbox-on-hover.png) no-repeat;
}
 .manufacturer-filter {
     display: -webkit-box;
     display: -ms-flexbox;
     display: flex;
     -webkit-box-orient: vertical;
     -webkit-box-direction: normal;
     -ms-flex-direction: column;
     flex-direction: column;
     -webkit-box-pack: justify;
     -ms-flex-pack: justify;
     justify-content: space-between;
     min-height: 181px;
     padding: 0;
}
 .power-filter {
     display: -webkit-box;
     display: -ms-flexbox;
     display: flex;
     -webkit-box-orient: vertical;
     -webkit-box-direction: normal;
     -ms-flex-direction: column;
     flex-direction: column;
     -webkit-box-pack: justify;
     -ms-flex-pack: justify;
     justify-content: space-between;
     min-height: 65px;
     padding: 0;
     padding-top: 10px;
     margin-bottom: 75px;
}
 .power-filter li:last-child {
     padding-top: 17px;
}
 input[type="radio"] {
     display: none;
}
 input[type="radio"]+label span {
     display: inline-block;
     width: 25px;
     height: 25px;
     margin: 0px 10px 0 0;
     vertical-align: middle;
     background: url(../img/radio-off.png) left top no-repeat;
     cursor: pointer;
}
 input[type="radio"]:hover+label span {
     background: url(../img/radio-off-hover.png) left top no-repeat;
}
 input[type="radio"]:checked+label span {
     background: url(../img/radio-on.png) no-repeat;
}
 input[type="radio"]:checked:hover+label span {
     background: url(../img/radio-on-hover.png) no-repeat;
}
 .power-filter label {
     font-family: "PT Sans", Arial, sans-serif;
     font-size: 15px;
     font-weight: 400;
     line-height: 20px;
     text-transform: uppercase;
}
 .filters button {
     border: 1px solid #e5e5e5;
     background-color: #ffffff;
     width: 140px;
     height: 38px;
}
 .btn-submit {
     font-weight: 400;
     font-style: normal;
     font-size: 13px;
     line-height: 18px;
     font-family: "PT Sans", "Arial", sans-serif;
     text-transform: uppercase;
     color: #000;
     background-color: #fff;
     border: 1px solid #e5e5e5;
     border-radius: 3px;
     cursor: pointer;
     padding: 11px 38px 8px;
}
 .cat-block-gray {
     background-color: #f1f5f7;
}
 .cat-block-white {
     margin-bottom: 50px;
}
 .drill-text {
     background-color: #f2f6f8;
     color: #000;
     width: 940px;
     padding: 70px 0 65px 0;
     margin: 0 auto;
}
 .title-about-drill {
     font-size: 30px;
     font-family: "Cuprum", "Arial", sans-serif;
     font-weight: 400;
     font-style: normal;
     line-height: 24px;
     margin: 0 0 30px;
}
 .text-about-drill {
     font-size: 13px;
     font-family: "PT Sans", "Arial", sans-serif;
     font-weight: 400;
     font-style: normal;
     line-height: 24px;
     margin: 0;
}
 .window-text {
     line-height: 18px;
     font-weight: 400;
     font-size: 30px;
     font-style: normal;
     font-family: "Cuprum", "Arial", sans-serif;
     color: #000;
     background-color: #fff;
}
 .btn-purchases {
     font-size: 14px;
     text-transform: uppercase;
     text-decoration: none;
     border-radius: 5px;
     line-height: 18px;
     font-weight: 400;
     font-style: normal;
     font-family: "Cuprum", "Arial", sans-serif;
     color: #000;
     background-color: #fff;
     padding: 10px 50px;
}
 .cont-right {
     float: left;
     width: 700px;
     font-size: 0;
     line-height: 0;
}
 .sorting {
     padding: 0;
}
 .sorting-goods {
     display: -webkit-box;
     display: -ms-flexbox;
     display: flex;
     margin-bottom: 20px;
     background: #f7f3ec;
     border-radius: 3px;
     -webkit-box-align: center;
     -ms-flex-align: center;
     align-items: center;
     line-height: 18px;
     padding: 9px 0;
}
 .sorting a, .sorting-goods span {
     font-weight: 400;
     font-style: normal;
     font-size: 13px;
     line-height: 18px;
     font-family: "PT Sans", "Arial", sans-serif;
     text-transform: uppercase;
}
 .sorting-goods span {
     margin-right: 139px;
     padding-left: 19px;
     color: #000;
}
 .sorting, .sorting-goods span {
     display: inline-block;
     vertical-align: middle;
}
 .sorting a {
     text-decoration: none;
     color: #acaaa5;
     border-bottom: 1px dashed #ee3643;
}
 .sorting a:hover {
     color: #000;
     border-bottom: 1px solid #ee3643;
}
 .sorting li {
     float: left;
}
 .sorting li:first-child {
     margin-right: 71px;
}
 .sorting li:nth-child(2) {
     margin-right: 66px;
}
 .sorting li:nth-child(3) {
     margin-right: 39px;
}
 .sorting li:nth-child(4) {
     margin-right: 15px;
}
 .sorting .active-list {
     color: #ee3643;
     border-bottom: none;
}
 .sorting-up {
     margin: 0 20px 0 16px;
}
 .sorting-arrow a {
     border: none;
}
 .sorting-up, .sorting-down {
     cursor: pointer;
     fill: #bcbcbc;
}
 .sorting-up, .sorting-down:hover svg {
     fill: #231f20;
}
 .sorting-up, .sorting-down:active {
     fill: #ee3643;
}
 .cont-right .drill-catalog {
     margin-bottom: 20px;
}
 .icon {
     position: relative;
     display: inline-block;
     margin: 47px 32px 50px 80px;
     width: 66px;
     height: 66px;
     line-height: 42px;
     font-family: "Arial", sans-serif;
     vertical-align: middle;
     text-decoration: none;
     background: #693;
     border-radius: 50px;
}
 .window-text {
     display: inline-block;
     vertical-align: middle;
     font-size: 30px;
     line-height: 18px;
     font-weight: 400;
     font-style: normal;
     font-family: "Cuprum", "Arial", sans-serif;
     color: #000;
     background: #fff;
}
 .pages {
     padding: 19px 0 20px 0;
     margin: 10px 0 40px 0;
}
 .page {
     display: inline-block;
     padding: 8px 14px 10px 16px;
     margin-right: 9px;
     font-weight: 400;
     font-style: normal;
     font-size: 13px;
     line-height: 18px;
     font-family: "PT Sans","Arial",sans-serif;
     text-align: center;
     text-transform: uppercase;
     text-decoration: none;
     color: #000;
     border: 1px solid #e5e5e5;
     border-radius: 3px;
}
 .page:hover {
     border: 1px solid #bdc6ca;
}
 .active-page {
     color: #fef5f6;
     background: #ee3643;
}
 .next-page {
     display: inline-block;
     font-weight: 400;
     font-style: normal;
     font-size: 13px;
     padding: 10px 31px;
     font-family: "PT Sans","Arial",sans-serif;
     text-align: center;
     text-transform: uppercase;
     text-decoration: none;
     line-height: 18px;
     color: #000;
     border: 1px solid #e5e5e5;
     border-radius: 5px;
}
 .window-show, .window-map-show {
     position: fixed;
     top: 5%;
     left: 50%;
     z-index: 200;
     -webkit-transform: translateX(-50%);
     -ms-transform: translateX(-50%);
         transform: translateX(-50%);
     display: block;
     -webkit-animation: formshow .3s;
     animation: formshow .3s 
}
 .window-map-show {
     font-size: 0 
}
 .window-close-buy, .window-message-close, .window-close-map {
     padding: 0;
     border: none 
}
 .window-close-buy::after, .window-close-buy::before, .window-message-close::after, .window-message-close::before, .window-close-map::after, .window-close-map::before {
     content: '';
     position: absolute;
     top: 15px;
     right: 15px;
     -webkit-transform: rotate(-45deg);
     -ms-transform: rotate(-45deg);
         transform: rotate(-45deg);
     width: 20px;
     height: 5px;
     background: #ee3643;
     border: none;
     cursor: pointer 
}
 .window-close-buy::after, .window-message-close::after, .window-close-map::after {
     -webkit-transform: rotate(45deg);
     -ms-transform: rotate(45deg);
         transform: rotate(45deg) 
}
 .modal-error {
     -webkit-animation: shake .5s;
     animation: shake .5s 
}